# LANGUAGE FUNDAMENTALS:

# 1.Manupulate using a list

i) To add new elements to the end of the list

In [16]:
lst=[22,54,67,'AAAA']
lst.append(5555)
print(lst)

[22, 54, 67, 'AAAA', 5555]

ii) To reverse elements in the list

In [4]:
my_list = [1, 2, 3, 4]
my_list.reverse() 
print(my_list)

[4, 3, 2, 1]

iii) To display the same list of elements multiple times.

In [5]:
my_list = [1, 2, 3]
times_to_repeat = 3  

result_list = my_list * times_to_repeat
print(result_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

   iv) To concatenate two list

In [6]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

concatenated_list = list1 + list2
print(concatenated_list)

[1, 2, 3, 4, 5, 6]

 v) To sort the elements in the list in ascending order

In [1]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

my_list.sort()  
print(my_list)

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

# 2. Write a Python program to do in the tuples.

  i) Manipulate using tuples.

In [26]:
my_tuple = (1, 2, 3, 4, 5)
print("First element:", my_tuple[0])
print("Last element:", my_tuple[-1])
slice_tuple = my_tuple[1:4]
print("Slice of the tuple:", slice_tuple)
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print("Concatenated tuple:", concatenated_tuple)
element_to_check = 3
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple")
else:
    print(f"{element_to_check} does not exist in the tuple")
tuple_length = len(my_tuple)
print("Length of the tuple:", tuple_length)
for item in my_tuple:
    print(item, end=" ")
a, b, c, d, e = my_tuple
print("\nUnpacked values:", a, b, c, d, e)

First element: 1
Last element: 5
Slice of the tuple: (2, 3, 4)
Concatenated tuple: (1, 2, 3, 4, 5, 6)
3 exists in the tuple
Length of the tuple: 5
1 2 3 4 5
Unpacked values: 1 2 3 4 5

    ii) To add new elements to the end of the tuples

In [27]:
my_tuple = (1, 2, 3, 4, 5)
new_element = 6
new_tuple = my_tuple + (new_element,)
print("Original Tuple:", my_tuple)
print("New Tuple with Element Added:", new_tuple)

Original Tuple: (1, 2, 3, 4, 5)
New Tuple with Element Added: (1, 2, 3, 4, 5, 6)

    iii) To reverse elements in the list

In [28]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print("Original Tuple:", my_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

 iv) To display the elements of the same tuple multiple times

In [29]:
my_tuple = (1, 2, 3)
display_times = 3
for _ in range(display_times):
    for element in my_tuple:
        print(element, end=' ')
    print()

1 2 3
1 2 3
1 2 3

v) To concatenate two tuples To sort the elements in the list in ascending order.

In [30]:
tuple1 = (4, 2, 8, 1)
tuple2 = (7, 6, 5, 3)
concatenated_tuple = tuple1 + tuple2
print("Concatenated Tuple:", concatenated_tuple)
concatenated_list = list(concatenated_tuple)
concatenated_list.sort()
sorted_tuple = tuple(concatenated_list)
print("Sorted Tuple in Ascending Order:", sorted_tuple)

Concatenated Tuple: (4, 2, 8, 1, 7, 6, 5, 3)
Sorted Tuple in Ascending Order: (1, 2, 3, 4, 5, 6, 7, 8)

# 3. Write a python program to implement the following using list.

   i) Create a list with integers (minimum 10 numbers)

In [31]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("List of integers:", my_list)

List of integers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

ii) How to display the last number in the list

In [32]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
last number in the list
last_number = my_list[-1]
print("Last number in the list:", last_number)

SyntaxError: invalid syntax (3274813784.py, line 2)

 iii) Command for displaying the values from the list [0:4]

In [33]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
selected_values = my_list[0:4]
print("Values from index 0 to 3:", selected_values)

Values from index 0 to 3: [1, 2, 3, 4]

iv) Command for displaying the values from the list [2:]

In [34]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
selected_values = my_list[2:]
print("Values from index 2 to the end:", selected_values)

Values from index 2 to the end: [3, 4, 5, 6, 7, 8, 9, 10]

   v) Command for displaying the values from the list [:6]

In [35]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
selected_values = my_list[:6]
print("Values from the beginning up to index 5:", selected_values)

Values from the beginning up to index 5: [1, 2, 3, 4, 5, 6]

# 4. Write a Python program: tuple1 = (10,50,20,40,30)


    i. To display the elements 10 and 50 from tuple1

In [36]:
tuple1 = (10, 50, 20, 40, 30)
element1 = tuple1[0]
element2 = tuple1[1]
print("Element 1:", element1)
print("Element 2:", element2)

Element 1: 10
Element 2: 50

    ii. To display the length of a tuple1.

In [37]:
tuple1 = (10, 50, 20, 40, 30)
tuple_length = len(tuple1)
print("Length of tuple1:", tuple_length)

Length of tuple1: 5

iii.To find the minimum element from tuple1.

In [38]:
tuple1 = (10, 50, 20, 40, 30)
min_element = min(tuple1)
print("Minimum element in tuple1:", min_element)

Minimum element in tuple1: 10

    iv. To add all elements in the tuple1.

In [24]:
tuple1 = (10, 50, 20, 40, 30)
total = sum(tuple1)
print("Sum of elements in tuple1:", total)

Sum of elements in tuple1: 150

V. To display the same tuple1 multiple times.

In [23]:
tuple1 = (10, 50, 20, 40, 30)
display_times = 3
result_tuple = tuple1 * display_times
print("Tuple1 displayed", display_times, "times:", result_tuple)

Tuple1 displayed 3 times: (10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. Write a Python program:

i) To calculate the length of a string

In [39]:
my_string = input("Enter a string: ")
string_length = len(my_string)
print("Length of the string:", string_length)

Enter a string: class
Length of the string: 5

    ii) To reverse words in a string

In [40]:
input_string = input("Enter a string: ")
words = input_string.split()
reversed_words = list(reversed(words))
reversed_string = ' '.join(reversed_words)
print("Reversed string:", reversed_string)

Enter a string: classname
Reversed string: classname

    iii) To display the same string multiple times

In [41]:
my_string = input("Enter a string: ")
display_times = int(input("Enter the number of times to display the string: "))
result_string = my_string * display_times
print("String displayed", display_times, "times:", result_string)

Enter a string: hitesh
Enter the number of times to display the string: 5
String displayed 5 times: hiteshhiteshhiteshhiteshhitesh

    iv) To concatenate two strings

In [42]:
string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")
concatenated_string1 = string1 + string2
concatenated_string2 = "{}{}".format(string1, string2)
print("Concatenated String (Method 1):", concatenated_string1)
print("Concatenated String (Method 2):", concatenated_string2)

Enter the first string: hitesh
Enter the second string: books
Concatenated String (Method 1): hiteshbooks
Concatenated String (Method 2): hiteshbooks


    V) Stri=" South India", using string slicing to display "India"

In [43]:
Stri = "South India"
india_part = Stri[-5:]
print("Result:", india_part)

Result: India

# 6. Perform the following:

i) Creating the Dictionary.

In [44]:
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

ii) Accessing values and keys in the Dictionary.

In [45]:
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
name_value = my_dict["name"]
age_value = my_dict["age"]
city_value = my_dict["city"]
keys_list = list(my_dict.keys())
print("Name:", name_value)
print("Age:", age_value)
print("City:", city_value)
print("Keys:", keys_list)

Name: John
Age: 30
City: New York
Keys: ['name', 'age', 'city']

iii) Updating the dictionary using a function.

In [46]:
def update_dict(input_dict):
    input_dict["country"] = "USA"
    input_dict["population"] = 330_000_000

    return input_dict
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
updated_dict = update_dict(my_dict)
print("Updated Dictionary:", updated_dict)

Updated Dictionary: {'name': 'John', 'age': 30, 'city': 'New York', 'country': 'USA', 'population': 330000000}

iv) Clear and delete the dictionary values.

In [47]:
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
my_dict.clear()
print("Dictionary after clearing:", my_dict)
another_dict = {
    "fruit": "apple",
    "color": "red",
    "price": 1.0
}
del another_dict["color"]
print("Dictionary after deleting 'color':", another_dict)

Dictionary after clearing: {}
Dictionary after deleting 'color': {'fruit': 'apple', 'price': 1.0}

# 7. Python program to insert a number to any position in a list.

In [48]:
my_list = [1, 2, 3, 4, 5]
number_to_insert = 10
insert_position = 2 
my_list.insert(insert_position, number_to_insert)
print("Updated List:", my_list)

Updated List: [1, 2, 10, 3, 4, 5]

# 8. Python program to delete an element from a list by index.

In [49]:
my_list = [1, 2, 3, 4, 5]
index_to_delete = 2 
if 0 <= index_to_delete < len(my_list):
    deleted_element = my_list.pop(index_to_delete)
    print("Deleted Element:", deleted_element)
    print("Updated List:", my_list)
else:
    print("Index is out of range. Cannot delete element.")

Deleted Element: 3
Updated List: [1, 2, 4, 5]

# 9. Write a program to display a number from 1 to 100.

In [50]:
for number in range(1, 101):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10. Write a Python program to find the sum of all items in a tuple.

In [51]:
my_tuple = (10, 20, 30, 40, 50)
total = 0
for item in my_tuple:
    total += item
print("Sum of items in the tuple:", total)

Sum of items in the tuple: 150

# 11. Create a dictionary containing three lambda functions square, cube and square root.

i) E.g. dict=('Square': function for squaring 'Cube: function for cube, 'Squareroot": function for square root)

In [52]:
math_operations = {
    "Square": lambda x: x ** 2,
    "Cube": lambda x: x ** 3,
    "SquareRoot": lambda x: x ** 0.5,
}
number = 4 
for operation, function in math_operations.items():
    result = function(number)
    print(f"{operation} of {number}: {result}")

Square of 4: 16
Cube of 4: 64
SquareRoot of 4: 2.0

ii) Pass the values (input from the user) to the functions in the dictionary respectively.

In [53]:
math_operations = {
    "Square": lambda x: x ** 2,
    "Cube": lambda x: x ** 3,
    "SquareRoot": lambda x: x ** 0.5,
}
number = float(input("Enter a number: "))
for operation, function in math_operations.items():
    result = function(number)
    print(f"{operation} of {number}: {result}")

Enter a number: 10
Square of 10.0: 100.0
Cube of 10.0: 1000.0
SquareRoot of 10.0: 3.1622776601683795

iii) Then add the outputs of each function and print it.

In [54]:
math_operations = {
    "Square": lambda x: x ** 2,
    "Cube": lambda x: x ** 3,
    "SquareRoot": lambda x: x ** 0.5,
}
number = float(input("Enter a number: "))
result_sum = 0
for operation, function in math_operations.items():
    result = function(number)
    result_sum += result
    print(f"{operation} of {number}: {result}")
print(f"Sum of the results: {result_sum}")

Enter a number: 20
Square of 20.0: 400.0
Cube of 20.0: 8000.0
SquareRoot of 20.0: 4.47213595499958
Sum of the results: 8404.472135955

# 12. A list of words is given. Find the words from the list that have their second character in uppercase.

Is-'hello', 'Dear', 'hOw', 'ARe', 'You']

In [55]:
word_list = ['hello', 'Dear', 'hOw', 'ARe', 'You']
result_words = []
for word in word_list:
    if len(word) >= 2 and word[1].isupper():
        result_words.append(word)
print("Words with the second character in uppercase:", result_words)

Words with the second character in uppercase: ['hOw', 'ARe']

# 13. A dictionary of names and their weights on earth is given. Find how much they will weigh on the
moon. (Use map and lambda functions) Formula: wMoon (wEarth*GMoon)/GEarth

i)#Weight of people in kg

WeightOnEarth=('John':45, 'Shelly':65, 'Marry':35)

In [7]:
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}
GMoon = 1.625 * 10**(-11)  
GEarth = 6.67430 * 10**(-11) 
WeightOnMoon = list(map(lambda name_weight: (name_weight[0], name_weight[1] * GMoon / GEarth), WeightOnEarth.items()))
for name, weight_moon in WeightOnMoon:
    print(f'{name} weighs {weight_moon:.2f} kg on the Moon.')

John weighs 10.96 kg on the Moon.
Shelly weighs 15.83 kg on the Moon.
Marry weighs 8.52 kg on the Moon.

ii) #Gravitational force on the Moon: 1.622 m/s2

GMoon = 1.622

In [8]:
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}
GMoon = 1.622
GEarth = 9.81 
WeightOnMoon = dict(map(lambda name_weight: (name_weight[0], name_weight[1] * GMoon / GEarth), WeightOnEarth.items()))
for name, weight_moon in WeightOnMoon.items():
print(f'{name} weighs {weight_moon:.2f} kg on the Moon.')

IndentationError: expected an indented block after 'for' statement on line 5 (1181950204.py, line 6)


iii)#Gravitational force on the Earth: 9.81 m/s2

GEarth=9.81

In [9]:
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}
GMoon = 1.622
GEarth = 9.81  
WeightOnMoon = dict(map(lambda name_weight: (name_weight[0], name_weight[1] * GMoon / GEarth), WeightOnEarth.items()))
for name, weight_moon in WeightOnMoon.items():
print(f'{name} weighs {weight_moon:.2f} kg on the Moon.')

IndentationError: expected an indented block after 'for' statement on line 5 (3847321796.py, line 6)